// $topbar-height:56px;

// .branding {
//     text-indent: -9999px;
//     width: 210px;
//     height: $topbar-height;
//     float: left;
//     margin:5px;
// }

// .side-menu-company{
//     display: block;
//     width: 210px;
//     height: $topbar-height;
//     background-position: 0px center;
//     background-repeat: no-repeat;
//     text-indent:-9999px;
// }

// .customer-bussum .side-menu-company{
//     background-image: url(/images/logos/logo-bussum-klein.png);
// }

// .customer-baarn .side-menu-company{
//     background-image: url(/images/logos/logo-baarn-klein.png);
// }

// .customer-debilt .side-menu-company{
//     background-image:url(/images/logos/logo-debilt-klein.png);
// }

// .logo_tholen .side-menu-company{
//     background-image:url(/images/logos/logo-tholen.png);
// }

// .customer-tholen .side-menu-company{
//     background-image:url(/images/logos/logo-tholen-klein.png);
// }

// .customer-ede .side-menu-company{
//     background-image:url(/images/logos/logo-ede.png);
// }

// .customer-vianen .side-menu-company{ 
//     background-image: url(/images/logos/logo-vianen.png); 
// }

// .customer-mintlab .side-menu-company{
//     background-image: url(/images/logos/logo-mintlab.svg);
//     width: 115px;
//     margin: 0 auto;
// }


// #login.customer-mintlab .top-bar .side-menu-company{
//     background-image: url(/images/logos/logo-mintlab.svg);
//     width:100px;
//     background-position:left center;
//     margin:auto;
// }

// .customer-groningenseaports .side-menu-company{
//     background-image: url(/images/logos/logo-seaports.png); 
// }

// .customer-wijkbijduurstede .side-menu-company{
//     background-image: url(/images/logos/logo-wijkbijduurstede.png);
// }

// .customer-epe .side-menu-company{
//     background-image: url(/images/logos/logo-epe.png);
// }

// .customer-voerendaal .side-menu-company{
//     background-image: url(/images/logos/logo-voerendaal.png);
// }

// .customer-roosendaal .side-menu-company{
//     background-image: url(/images/logos/logo-roosendaal.png);
// }

// .customer-oude-ijsselstreek .side-menu-company{
//     background-image: url(/images/logos/logo-oude-ijsselstreek.png);
//     width:201px;
//     background-position:left center;
// }

// .customer-bbz .side-menu-company{
//     background-image: url(/images/logos/logo-bbz.png);
// }

// .customer-lingewaard .side-menu-company{
//     background-image: url(/images/logos/logo-lingewaard.png);
// }

// .customer-solo .side-menu-company,
// .customer-solo-buren .side-menu-company{
//     background-image: url(/images/logos/logo-solo.png);
// }

// .customer-werkplein .side-menu-company{
//     background-image: url(/images/logos/logo-werkplein.png);
// }

// .customer-lansingerland .side-menu-company{
//     background-image: url(/images/logos/logo-lansingerland.png);
// }

// .customer-schouwen-duiveland .side-menu-company{
//     background-image: url(/images/logos/logo-schouwen-duiveland.png);
//     background-position: center;
//     background-size:cover;
//     height:22px !important;
//     max-width:181px;
//     margin:11px 0 0 6px;
// }

// #login.customer-schouwen-duiveland #topsection .side-menu-company{
//     margin:35px auto 0;
// }

// .customer-zaaksysteem .side-menu-company{
//     background-image:url(/images/logos/logo-zaaksysteem.png);
//     background-position: center;
// }

// .customer-sudwest-fryslan .side-menu-company{
//     background-image: url(/images/logos/logo-sudwest-fryslan.png);
// }

// .customer-zaakstad .side-menu-company{
//     background-image: url(/images/logos/logo-zaakstad.svg);
//     height:20px;
//     margin-top:12.5px;
// }

// .customer-werkendam .side-menu-company{
//     background-image: url(/images/logos/logo-werkendam.png);
// }

// .customer-noordenveld .side-menu-company{
//     background-image: url(/images/logos/logo-noordenveld.png);
// }

// .customer-halderberge .side-menu-company{
//     background-image: url(/images/logos/logo-halderberge.png);
// }

// .customer-moerdijk .side-menu-company{
//     background-image: url(/images/logos/logo-moerdijk.png);
// }

// .customer-bwb .side-menu-company{
//     background-image: url(/images/logos/logo-bwb.png);
// }

// .customer-etten-leur .side-menu-company{
//     background-image: url(/images/logos/logo-etten-leur.png);
// }

// #login.customer-zaakstad #topsection .side-menu-company{
//     height:20px;
//     margin-top:36px;
// }

// .customer-leerdam .side-menu-company{
//     background-image: url(/images/logos/logo-leerdam.png);
// }