<div class="pip-block">
    <div class="pip-block-content">
        [% multichannel_explanation %]
    </div>
    <div class="pip-block-content">
        <a target="_blank" rel="noopener" href="[% multichannel_session_url | html_entity %]">
            Mijn WOZ- en belastinggegevens
            <i class="icon-font-awesome icon-external-link"></i>
        </a>
        <br>
        <br>
        <i>let op: deze pagina opent in een nieuw venster</i>
    </div>
    
</div>
