[% USE Dumper %]


<div class="ztb">
<form method="POST" class="ezra_zaaktype_finish ezra_zaaktypebeheer" action="[% formaction %]">
    <input type="hidden" name="commit" value="1"/>
    <div class="block clearfix">
        <div class="block-header ztb-header clearfix block-header-border">
            [% IF(zaaktype_id) %]
            <div class="block-header-title">[% params.node.titel | html_entity %] -  
            [% ELSE %]
                Zaaktype aanmaken
            [% END %]
                <span>Controleer onderstaande gegevens</span>
            </div>
        </div>
        <div class="blockcontent">
            <table class="fixed-layout">
                <tbody>
                    <tr>
                        <td class="td300"><label class="titel">Naam zaaktype</label></td>
                        <td class="td300">
                            [% params.node.titel | html %]
                        </td>
                        <td class="td300"></td>
                    </tr>
                    <tr>
                        <td><label class="titel">Handelingsinitiator</label></td>
                        <td>
                        [% FOREACH hinit IN ZOPTIONS.HANDELINGSINITIATORS.sort %]
                            [% IF params.definitie.handelingsinitiator
                                        == hinit %]
                                [% c.loc(hinit) %]
                            [% END %]
                        [% END %]

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label class="titel">Milestones</label></td>
                        <td>
                            <div class="ztb-finish-fasen-overzicht">
                            [% FOREACH status = params.statussen %]
                                <h3 style="margin-bottom:7px"><span class="expander"></span>[% status.value.definitie.naam %]</h3>
                                
                                <div class="marginbottom">
                                <strong>Kenmerken</strong>
                                <ul class="list">
                                [% FOREACH kenmerk = status.value.elementen.kenmerken %]
                                    <li>[% kenmerk.value.label %]
                                    [% kenmerk.value.naam %]</li>
                                [% END %]
                                </ul>
                               
                                
                                [% IF status.value.elementen.sjablonen.size %]
                                    <div class="marginbottom">
                                    <strong>Sjablonen</strong>
                                    <ul class="list">
                                    [% FOREACH sjabloon = status.value.elementen.sjablonen %]
                                        <li>[% sjabloon.value.label %]
                                        [% sjabloon.value.naam %]</li>
                                    [% END %]
                                    </ul>
                                    </div>
                                [% END %]
                                </div>

                             [% END %]
                            </div>
                             
                            
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label class="titel">Componenten gewijzigd *</label></td>
                        <td>
                            <input type="checkbox" name="components" value="basisattributen" id="basisattributen"/><label for="basisattributen"> Basisattributen</label><br/>
                            <input type="checkbox" name="components" value="zaakacties" id="zaakacties" /><label for="zaakacties"> Zaakacties</label><br/>
                            <input type="checkbox" name="components" value="fasering en toewijzing" id="fasering" /><label for="fasering"> Fasering en toewijziging</label><br/>
                            <input type="checkbox" name="components" value="kenmerken" id="kenmerken" /><label for="kenmerken"> Kenmerken</label><br/>
                            <input type="checkbox" name="components" value="tekstblokken" id="tekstblokken" /><label for="tekstblokken"> Tekstblokken</label><br/>
                            <input type="checkbox" name="components" value="regels" id="regels" /><label for="regels"> Regels</label><br/>
                            <input type="checkbox" name="components" value="betrokkenen" id="betrokkenen" /><label for="betrokkenen"> Betrokkenen</label><br/>
                            <input type="checkbox" name="components" value="sjablonen" id="sjablonen" /><label for="sjablonen"> Sjablonen</label><br/>
                            <input type="checkbox" name="components" value="checklist" id="checklist" /><label for="checklist"> Checklist</label><br/>
                            <input type="checkbox" name="components" value="autorisatie" id="autorisatie" /><label for="autorisatie"> Autorisatie</label><br/>
                            <input type="checkbox" name="components" value="kinderen" id="kinderen" /><label for="kinderen"> Kinderen</label><br/>
                        </td>
                        <td>

                            
                            <div class="validator rounded invalid ezra_finish_zaaktype_commit_message_verplicht">
                                <div class="validate-tip"></div>
                                <div class="validate-content rounded-right"><span></span>Veld is verplicht.</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="titel">Wijzigingsomschrijving</label></td>
                        <td>
                            <textarea name="commit_message"></textarea>
                        </td>
                        <td></td>
                    <tr>
                </tbody>
            </table>

            [% UNLESS zaaktype_view %]
            <div class="form-actions form-actions-sticky clearfix">
                <input type="submit" name="goback" value="Vorige" class="button-secondary button left">
                [% PROCESS beheer/zaaktypen/voortgang.tt %]
                <input type="submit" value="Publiceren" class="button-primary button right ezra_publish_zaaktype">
            </div>
            [% END %]
        </div>
    </div>
</form>
</div>
