@import './../../../../../../shared/styles/variables';

.case-mutation{
	[icon-type="alert-circle"]{
		display: flex;
		margin-right:3px;
	}
}

.mutation-list-header{
	font-size:1.067rem;
}

.case-mutation-add{
	display: flex;
	flex-wrap: wrap;
}

.case-mutation-add-item{
	padding:0 5px 5px 0;
}

i.mdi-alert-circle{
	font-size:1.4rem;
	color:red;
	&:hover{
		color:darken(red,10%);
	}
}

i.mdi-shield{
	font-size:1.3rem;
	color:#2b97e0;
	&:hover{
		color:darken(#2b97e0,10%);
	}
}

.case-mutation-icon{
	margin-right:8px;
}

[class^="case-mutation-icon-"]{
	width:22px;
	height:24px;
	display: flex;
	align-self:center;
	background-size:contain;
	background-repeat:no-repeat;
}

.case-mutation-icon-create{
	background-image:url(icons/object-mutation-add.svg);
}

.case-mutation-icon-delete{
	background-image:url(icons/object-mutation-delete.svg);
}

.case-mutation-icon-update{
	background-image:url(icons/object-mutation-edit.svg);
}

.case-mutation-icon-relate{
	background-image:url(icons/object-mutation-relate.svg);
}

zs-case-object-mutation-form{
	display: block;
}

@media #{$medium-and-up} {
	zs-case-object-mutation-form{
		min-width:550px;
	}
}
