[% IF !pip_session %]
<div data-ng-controller="nl.mintlab.kcc.KCCController" class="ng-cloak">
	
	<div class="kcc-active-subject kcc-bar">
		
		<ul class="kcc-tab-list clearfix">
			<li class="kcc-tab kcc-tab-type-<[getType(tabData)]>" data-ng-class="{'kcc-tab-active': isActiveTab(tabData) }" data-ng-repeat="tabData in getTabData()">
				<button class="kcc-tab-button" data-ng-click="setActiveTab(tabData)">
					<[getDisplayName(tabData)]>
				</button>
			</li>
		</ul>
		
		
		<div class="kcc-content kcc-content-type-<[getType(activeTabData)]>" data-ng-show="activeTabData">
			<div class="kcc-content-inner clearfix">
				<i class="kcc-content-icon mdi mdi-comment-multipe-outline"></i>
				<div class="kcc-content-meta">
					<div class="kcc-content-meta-label"><[getDisplayName(activeTabData)]></div>
					<div class="kcc-content-meta-byline"><[getByline(activeTabData)]></div>
				</div>
				<div data-ng-if="activeTabData" data-ng-include="'/html/kcc/' + (getType(activeTabData) === 'contact' ? 'contact': 'phonenumber') + '.html'">
				</div>
			</div>
		</div>
	   
	</div>

	<script type="text/zs-scope-data" data-zs-scope-data-root>
        [% kcc_metadata %]
	</script>
</div>

<script type="text/ng-template" id="/html/kcc/contact.html">
	
	 <div class="kcc-active-subject-buttons" data-ng-controller="nl.mintlab.kcc.ActiveSubjectController">
        <div class="button-group kcc-contact-actions">  
            <a class="button button-secondary" data-zs-title="Ga naar de contactpagina" data-ng-href="/betrokkene/<[activeTabData.data.contact.gmid]>?gm=1&type=<[activeTabData.data.contact.type]>"><i class="mdi mdi-account"></i></a>                
            <button class="button button-secondary" data-zs-title="Maak een nieuw contactmoment aan" onclick="$('.nieuwcontactmoment').click()"><i class="mdi mdi-comment-account"></i></button>
            <button class="button button-secondary" data-zs-title="Maak een nieuwe zaak aan" onclick="$('.nieuwezaak').click()"><i class="mdi mdi-folder-plus"></i></button>
            <button class="button button-secondary" data-ng-click="disableSession()" data-zs-title="Deactiveer contactpersoon"><i class="mdi mdi-close"></i></button>
        </div>
    </div>

</script>

<script type="text/ng-template" id="/html/kcc/phonenumber.html">

	<div class="button-group right" data-ng-controller="nl.mintlab.kcc.PhoneCallController">
		<button class="button button-large button-secondary" data-ng-click="acceptCall()" data-ng-show="!hasSubject()"><i class="icon-font-awesome icon-ok"></i></button>
		<button class="button button-large button-secondary" data-zs-confirm="acceptCall()" data-zs-confirm-label="Weet u zeker dat u dit telefoontje wil accepteren?" data-ng-show="hasSubject()" data-zs-confirm-verb="Accepteren"><i class="icon-font-awesome icon-ok"></i></button>
		<button class="button button-large button-secondary" data-ng-click="rejectCall()"><i class="icon-font-awesome icon-remove"></i></button>
	</div>
	
</script>

[% END %]
