@import "../../styles/variables";

.zs-tooltip {
	background: rgba(0,0,0,0.8);
	padding: 0.3rem 0.7rem;
	z-index: 11;
	transition: 0.15s ease-out opacity;
	border-radius:$border-radius;
	font-size:.9em;
	display: block;
	opacity: 1;
	position: fixed;
	max-width:300px;
	ul li,ol li{
		margin-left:20px;
	}
	ul li{
		list-style-type: disc;
	}
	ol li{
		list-style-type: decimal;
	}
	a{
		color:$accent-color;
		&:hover{
			color:lighten($accent-color,10%);
			text-decoration: underline;
		}
	}
}

.zs-tooltip-content {
	color: white;
}

[zs-tooltip] {
	-webkit-user-select: none;
}
