/* @group base */ 

.basic  #header{
 	background: url("../images/header_bg.png") repeat scroll 20px 0 transparent;
 }
 
 /* @end */
 
 /* @group block */
 
 	
 .blockcontent{
 	background: transparent url(../images/caroussel_overlay.png) 20px 0 no-repeat !important;
 }


.block > .header,
.pip-header {
	background: #008BD0 url(../images/navigatie_overlay.png) 20px 0 no-repeat !important;
}	
 	
 		
 /* @end */
 


 
/* @group knop */
 
.knop{
	border: none;
}

.knop:hover{
	border-color: #000;
}

.webform_inner .knop{
	border: 1px solid #BBBBBB;
	border-bottom-color:#999;
	border-top-color:#ccc;
}

/* @end */
 
/* @group button140 */

.button140{background: #2B7EAD;}
.button140:hover{background: #2b93ce;}

/* @end */


/* @group Baarn-ID */

.id-knop.id-knop-testid{
	border: 1px solid #222222;
}

.id-knop.id-knop-testid:hover{
	background: rgb(85,85,85);
	background: -moz-linear-gradient(top,  rgb(85,85,85) 0%, rgb(34,34,34) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(85,85,85)), color-stop(100%,rgb(34,34,34)));
	background: -webkit-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	background: -o-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	background: -ms-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	background: linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 );
}

.id-knop.id-knop-testid:active{
	background: rgb(34,34,34);
	background: -moz-linear-gradient(top,  rgb(34,34,34) 0%, rgb(68,68,68) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(34,34,34)), color-stop(100%,rgb(68,68,68)));
	background: -webkit-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: -o-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: -ms-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 );
}

 
/* @end */



 
/* @group pip */

.pip{
	padding: 20px 30px 25px;
	background: transparent url(../images/caroussel_overlay.png) 20px 0 no-repeat !important;
}

.pip-header{
	display: block;
}

/* @end */
 

 
/* @group stappen  */
	
.stap.active {
	border-bottom-color: #2b7ead;
}
	

/* @end */