@import "../../../styles/variables";

vorm-appointment-control {
	zs-dropdown-menu button {
		background: white;
		border: 1px solid #ccc;
		height: 2.4rem;
		padding: .4rem 1rem;
		margin-right: 8px;
		margin-bottom: .5rem;
		zs-icon {
			display: none;
		}
	}

	.btn {
		margin-right: 8px;
	}

	.popup-menu-button-label {
		position: relative;
		padding-right: 25px;

		&:after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			border-color: #000000 transparent transparent transparent;
			position: absolute;
			top: 6px;
			right: 5px;
		}
	}
}

.calendar-module-available {
	display: flex;
	flex-wrap: wrap;

	zs-spinner {
		display: flex;
		align-items: center;
		margin-right: 8px;
		margin-bottom: 8px;
	}
}

vorm-appointment-display {
	.object-list-item {
		padding: .7em;
	}

	zs-icon {
		margin-right: 0;
	}

	.mdi-calendar {
		margin-right: 4px;
	}
}

.calendar-display-text {
	flex-grow: 1;
}

.calendar-display-text-button-close {
	padding: 0;
}
