[% # print a css class corresponding to a given mimetype -%]
[% RETURN UNLESS filename -%]
[% filename_formatted = filename %]
[%

IF(filename.length > 43) %]
[%
    filename_formatted = filename.substr(0, 26) _ '...' _ filename.substr(-17,17);
%]
[% END %]

[% 	prefix = pip ? '/pip' : '' %]
[%
    download_url = prefix _ (zaak ?
		'/zaak/' _ zaak.id _ '/document/' _ file_id _ '/download' :
		'/form/upload/download?filestore_id=' _ filestore_id)
%]

[%
  accepted = uploaded_file.accepted ? 'true' : 'false';
  rejected = 'true';
%]


[% IF zaak && !pip %]
	<div class="filename_formatted" 
		data-zs-mintloader-file
		data-zs-popup="'/partials/case/attribute/docs/pdf-reader-popup.html'" 
		data-ng-init="downloadUrl='[% download_url %]';modalTitle='[% filename_formatted | html %]';flexpaperUrl='/zaak/[% zaak.id %]/flexpaper/[% file_id %]';caseId='[% zaak.id %]';fileId='[% file_id %]'"
		data-zs-accepted="[% accepted %]"
		data-zs-reject-to-queue="[% rejected %]"
		>
		[% IF filestore_id || file_id %]
			<span class="filename_anchor" rel="[% mimetype %]" data-ng-click="mintloaderFile.handleDocClick($event)">[% filename_formatted | html %]</span>
			<a 
				class="file-download-button"
				rel="[% mimetype %]"
				target="_blank" rel="noopener"
				href="[% download_url %]"
			>
				<i class="icon-font-awesome icon-download-alt"></i>
			</a>
			<button 
				class="file-remove-button"
				ng-click="mintloaderFile.handleRemoveClick($event, entity)"
				ng-show="[% view_mode ? 'false': 'true' %]"
			>
				<i class="icon-font-awesome icon-remove-sign"></i>
			</button>
		[% ELSE %]
			Fout: bestand niet opgeslagen
		[% END %]
	</div>
[% ELSE %]
	<div class="filename_formatted">
		[% IF filestore_id || file_id %]
			<a rel="[% mimetype %]" href="[% download_url %]">[% filename_formatted | html %]</a>
		[% ELSE %]
			Fout: bestand niet opgeslagen
		[% END %]
	</div>
[% END %]
